.cover__link {
  text-decoration: none;
  position: relative;
  display: block;
  background-image: url(../../../images/cover-trains.jpg);
  z-index: 1;
  background-size: cover;
  background-position: center;
  color: #fff;
  box-sizing: border-box;
  min-width: 320px;
}


.cover__link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #2A2C2F;
  opacity: .3;
  z-index: -1;
  transition: opacity .5s ease-out;
}

.cover__link:hover::after {
  opacity: .8;
}
