.place__info {
  margin: 0;
  padding: 0 16px 0 16px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  min-width: 288px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .place__info {
    padding: 0;
  }
}

@media screen and (min-width: 1024px) {
  .place__info {
    font-size: 18px;
  }
}

@media screen and (min-width: 1280px) {
  .place__info {
    line-height: 29px;
  }
}
