.lead__title {
  margin: 0;
  padding: 0 16px 0 16px;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 110%;
  text-align: center;
  white-space: pre-line;
}

@media screen and (min-width: 768px) {
  .lead__title {
    font-size: 96px;
    line-height: 104%;
    max-width: 720px;
    padding: 0 24px 0 24px;
  }
}

@media screen and (min-width: 1024px) {
  .lead__title {
    padding: 0 104px 0 104px;
  }
}

/* удалил ограничения по ширине и высоте у текстовых блоках, теперь высота определяется шрифтом, а ширина колличеством символов. Благодарю за разъясние. */
