.intro {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: 'Inter', Arial, sans-serif;
  /* width: calc(100% - 16px * 2); */
  padding: 64px 16px 0 16px;
}

/* не понимаю как реализовать промежуточный этап от 1024 до 1280, так чтобы текст не "уезжал влево" */

@media screen and (min-width: 768px) {
  .intro {
    padding: 85px 24px 0 24px;
    width: 720px;
  }
}

@media screen and (min-width: 1024px) {
  .intro {
    padding-left: 48px;
    /* width: calc(100% - 24px * 2); */
    width: 690px;
  }
}

@media screen and (min-width: 1280px) {
  .intro {
    padding: 89px 0 0 148px;
  }
}
