.cover {
  margin: 0;
  padding-top: 66px;
  font-family: 'Inter', Arial, sans-serif;
  min-width: 320px;
}

@media screen and (min-width: 768px) {
  .cover {
    min-width: 768px;
    padding-top: 90px;
  }
}

@media screen and (min-width: 1024px) {
  .cover {
    padding-top: 92px;
    min-width: 1024px;
  }
}

@media screen and (min-width: 1280px) {
  .cover {
    padding: 90px 48px 0 48px;
  }
}
