.place__link {
  display: flex;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 122%;
  text-decoration-line: underline;
  color: #fff;
  width: 100%;
  transition: opacity .5s ease-out;
}

.place__link:hover {
  opacity: .8;
}
