.footer {
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
  padding: 64px 0 24px 16px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: start;
  justify-content: space-between;
  gap: 48px;
}

@media screen and (min-width: 768px) {
  .footer {
    gap: 0;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 88px 24px 24px 24px;
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    padding: 92px 48px 24px 48px;
  }
}

@media screen and (min-width: 1280px) {
  .footer {
    margin: 0;
  }
}
